services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: prashiskshan
      POSTGRES_USER: prashiskhan_Admin
      POSTGRES_PASSWORD: VermajiAdmin
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@prashikshan.com
      PGADMIN_DEFAULT_PASSWORD: admin@123
    ports:
      - "8080:80"
volumes:
  pgdata:
